body {
    font-family: 'Times New Roman', serif;
    background-color: #fff9e8;
    display: flex;
    justify-content: center;
    align-items: center;                                                                                      
    height: 100vh;
    margin: 0;
    background-image: url(); 
    background-size: cover;
    background-position: center;
}


.contato-section {
    background-color: rgba(255, 239, 213, 0.9); 
    padding: 30px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    border-radius: 12px;
    width: 400px;
    text-align: center;
    border: 2px solid #8b4513; 
    transition: transform 0.3s ease; 
}

.contato-section:hover {
    transform: translateY(-10px); 
}


h2 {
    color: #8b4513;
    margin-bottom: 20px;
    text-transform: uppercase; 
}


form label {
    display: block;
    font-size: 18px;
    margin-bottom: 5px;
    color: #4b3621;
    font-weight: bold;
}

form input[type="text"],
form input[type="email"],
form input[type="tel"],
form input[type="password"] {
    width: 80%;
    max-width: 300px;
    padding: 12px;
    border: 1px solid #8b4513;
    border-radius: 6px;
    font-size: 16px;
    margin-bottom: 20px;
    background-color: #fff6e5; 
    transition: border-color 0.3s ease;
}

form input[type="text"]:focus,
form input[type="email"]:focus,
form input[type="tel"]:focus,
form input[type="password"]:focus {
    border-color: #c0a16b;
}


button#handleSubmit {
    background-color: #d2b48c;
    color: #4b3621;
    border: none;
    border-radius: 6px;
    padding: 12px 24px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

button#handleSubmit:hover {
    background-color: #c0a16b;
    transform: scale(1.05); 
}
