body {
    font-family: 'Times New Roman', serif;
    background-color: #fdf5e6;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url('background.jpg'); 
    background-size: cover;
}

.score-container {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: rgba(255, 239, 213, 0.9); 
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #8b4513; 
}

.container {
    background-color: rgba(255, 239, 213, 0.9); 
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    width: 400px;
    text-align: center;
    border: 1px solid #8b4513; 
}

h1 {
    color: #8b4513;
} 

.question-container {
    margin-bottom: 20px;
}

.question {
    font-size: 18px;
    margin-bottom: 10px;
    color: #4b3621; 
}

.answers button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #d2b48c; 
    color: #4b3621; 
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.answers button.correct {
    background-color: #28a745; 
    color: #fff;
}

.answers button.incorrect {
    background-color: #dc3545; 
    color: #fff;
}

.answers button:hover {
    background-color: #c0a16b; 
}

.answers button:disabled {
    cursor: not-allowed;
}

#pontuacao {
    font-size: 18px;
    color: #4b3621; 
}
